.theme-dark {
--text-muted: var(--color-accent);
--titlebar-text-color: var(--color-accent);
}
.theme-light {
--text-muted: var(--color-accent);
}
.clickable-icon {
    color: var(--color-accent);
}
.workspace-tab-header-inner .workspace-tab-header-inner-icon {
    color: var(--color-accent);
}
.markdown-rendered hr {
    border-color: var(--color-accent);
}
hr {
color: var(--color-accent);
}
